Round up

In [ ]:
round (19.9499959* 28.99, 2)
578.35

/**Variable assignment**/

In [47]:
w=10
type(w)

int

Slice and indexing a string. In this exemple below, (phrase[11:13]) means get string from the 11 index to the 13 index

In [43]:
phrase = "Ighave an \nautomobile"
# phrase ="P"
print (phrase)

Ighave an
automobile

In [44]:
print (phrase[3:-13])

ave a

In [49]:
print (phrase[::3])

Ia  umi

Different print Formats

In [94]:
a = 'banana'
b = 3
d = "is 100f"

# Using float
c  = 100/777

# 
print ('{0} {1} {2}'.format (b,a,d))
print ('{0:.3f}'.format (c))
print (f'{b:2.2f} {a} {d}')

3 banana is 100f
0.129
3.00 banana is 100f

Work with Lists

In [117]:
list_01 = ["one", "two", "tree"]

# Indexing
list_01[1]

# Concatenation
list_02 = [4, "five", 6, "seven"];

list_concat = list_01 + list_02
list_concat

# Slicing
list_concat[3:]

[4, 'five', 6, 'seven']